.container {
  display: flex;
  align-items: center;
  flex-direction: column;

  .calcOne {
    margin-bottom: 40px;

    span {
      display: inline-block;
      width: 20px;
      text-align: center;
    }

    button {
      width: 50px;
      margin: 0 10px;
      padding: 5px 20px;
      border: none;
      border-radius: 8px;
      outline: none;
      font-size: 19px;
      color: white;
      background-color: #1e3799;
      cursor: pointer;
    }
  }

  .num {
    padding: 20px;
  }

  .sortWrap {
    display: flex;
    flex-direction: column;

    > div {
      display: flex;
      align-items: flex-end;
      margin-bottom: 40px;
    }
  }
}

.InputWrapper {
  input {
    width: 190px;
    height: 30px;
    margin-bottom: 15px;
  }

  p {
    height: 7px;
    color: darkblue;
    font-weight: bold;
  }
}
